<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" th:href="@{/style.css}" />
		<title>Beers List</title>
	</head>
	<body>
		<h1>Beers : </h1>
		
		<h3 th:utext="${notificationMessage}"></h3>
		<table>
			<tr>
				<th>Nom</th>
				<th>Marque</th>
				<th>Prix</th>
				<th>Taille</th>
				<th>Couleur</th>
				<th>Fermentation</th>
				<th>Style</th>
			</tr>
			<tr th:each="beer : ${beers}"> 															<!-- https://www.thymeleaf.org/doc/tutorials/2.1/thymeleafspring.html -->
				<td th:utext="${beer.name}"/>
				<td th:utext="${beer.brand}"/>
				<td th:utext="${beer.price}"/>
				<td th:utext="${beer.size}"/>
				<td th:utext="${beer.color}"/>
				<td th:utext="${beer.fermentation}"/>
				<td th:utext="${beer.style}"/>
				<td><a th:href="@{bieres/{id}(id=${beer.index})}">+ de Détails</a></td>
			</tr>
		</table>
	
		<form method="POST" th:action="@{/bieres/addBeer}" th:object="${addBeerForm}">
			<label for="name">Nom :  </label>
			<input th:field="*{name}" 	required type="text" 	name="name"  	placeholder="Nom"/>
			<label for="brand">Marque :  </label>
			<input th:field="*{brand}" 	required type="text" 	name="brand" 	placeholder="Marque"/>
			<label for="price">Prix (€): </label>
			<input th:field="*{price}" 	required type="number" 	name="price" 	value = "" min="0" step="0.01"/> <!-- cents -->
			<label for="size">Taille (L):  </label>
			<input th:field="*{size}" 	required type="number" 	name="size" 	value = "" min="0" step="0.001"/> <!-- mL -->
			<label for="stock">Nombre d'unités : </label>
			<input th:field="*{stock}" 	required type="number" 	name="stock" 	value = "" min="0"/>
			<label for="color">Couleur :  </label>
			<select name ="color" th:field="*{color}"> 																	<!-- https://www.baeldung.com/thymeleaf-enums -->
				<option th:each="colorOpt : ${T(ch.hearc.ProjetTE.ColorType).values()}" 
	        			th:value="${colorOpt}" th:text="${colorOpt}"></option>
			</select>
			<label for="fementation">Fermentation :  </label>
			<select name ="fermentation" th:field="*{fermentation}"> 																
				<option th:each="fermentationOpt : ${T(ch.hearc.ProjetTE.FermentationType).values()}" 
	        			th:value="${fermentationOpt}" th:text="${fermentationOpt}"></option>
			</select>
			<label for="style">Style :  </label>
			<select name ="style" th:field="*{style}"> 																	
				<option th:each="styleOpt : ${T(ch.hearc.ProjetTE.StyleType).values()}" 
	        			th:value="${styleOpt}" th:text="${styleOpt}"></option>
			</select>
			<input type="reset">
			<input type="submit" value="Add"/>
		</form>
	</body>
	<footer>
		<span>JEE-ProjetTe1 - Joris Monnet - HEARC - DLM3b</span>
	</footer>
</html>