<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" http-equiv="refresh"
		        content="0; url = /bieres">
		<link rel="stylesheet" th:href="@{/css/style.css}" />
		<title>Bieres</title>
	</head>
	<body>
		<h1>Bienvenue !</h1>
		<p>Si votre navigateur n'accepte pas les refreshs, cliquez <a th:href="@{/bieres}"> ici </a> pour accéder à la liste des bières</p>
	</body>
	<footer>
		<span>JEE-ProjetTe1 - Joris Monnet - HEARC - DLM3b</span>
	</footer>
</html>